streamlit
langchain
langchain-core
langchain-community
langchain-classic
langgraph
langgraph-prebuilt
langchain-groq
langchain-cohere
langchain-huggingface
cassio
cassandra-driver
pyasyncore
requests
openweathermap
sentence-transformers
torch
transformers
pyowm
"fastapi[standard]"